body {
  background-color: #566040;
  margin: 0;
}

#app {
  min-width: fit-content;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#gameCanvas {
  background-color: #b6b6b6;
  border: 2px #222222 solid;
}

#networkCanvas {
  background-color: #888888;
  border: 6px #222222 solid;
}

#button-space {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 0;
}

#import {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#button-network{
  /* position: relative;
  bottom: -20px;
  left: -500px; */
}

#button-sensors{
  /* position: relative;
  bottom: -20px;
  left: -500px; */
}