body {
  background-color: #566040;
  margin: 0;
}

#app {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#gameCanvas {
  background-color: #b6b6b6;
  border: 2px #222222 solid;
}

#networkCanvas {
  background-color: #888888;
  border: 6px #222222 solid;
}

#button-network{
  position: relative;
  bottom: -20px;
  left: -500px;
}

#button-sensors{
  position: relative;
  bottom: -20px;
  left: -500px;
}