body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  z-index: 1;
}

#appCanvas {
  background-color: #566040;
  position: fixed;
  z-index: -1;
}

#gameCanvas {
  background-color: #b6b6b6;
  border: 2px #222222 solid;
}